:root {
  /* playback bar */
  --bar-width: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  text-transform: capitalize;
  font-family: 'Roboto Mono', monospace, 'SimHei';
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 1.8rem;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

li, ul, ol {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #333333;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  padding: 0 .5rem;
  background-color: #333333;
}

.header .btn_back {
  position: absolute;
  left: 1rem;
}

/* PlayListPage */
.main_container {
  position: relative;
  width: 100%;
  max-width: 768px;
  z-index: 0;
  opacity: 1;
  animation: fadeIn .1s ease-out;
}

.main_container_bg {
  content: '';
  position: fixed;
  top: 13vh;
  width: 100%;
  max-width: 768px;
  height: 800px;
  background-image: url(https://picsum.photos/1000);
  z-index: -1;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

.main_container > .play_list {
  position: relative;
  display: grid;
  grid-template-areas:
    'btn_music img btn_fav'
    'title title title';
  grid-template-columns: auto 45vw auto;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  padding: 0 3rem;
}

.main_panel .btn_add_music,
.main_panel .btn_add_fav {
  font-size: 1.3rem;
}

.main_panel .btn_add_music {
  grid-area: btn_music
}

.main_panel .btn_add_fav {
  grid-area: btn_fav
}

.main_panel .track_img {
  grid-area: img;
  max-width: 200px;
}

.main_panel .album_name {
  grid-area: title;
  position: relative;
  top: -1rem;
  margin: 0 auto;
}

.main_panel .play_bar {
  position: absolute;
  display: flex;
  bottom: -1.5rem;
  left: 10%;
  background-color: #515151;
  border-radius: 30px;
  width: 80%;
  height: 3rem;
}

.main_panel .btn_play {
  width: 70%;
  border-right: 2px #767676 solid;
}

.main_panel .btn_download {
  width: 30%;
}

.play_list_panel {
  height: 48vh;
  padding: 5vh 3vw;
  background-color: #333333;
  overflow-y: scroll;
}

.play_list_panel > .track {
  display: grid;
  grid-template-areas:
    'img title'
    'img album_name';
  grid-template-columns: 60px auto;
  grid-template-rows: 30px 30px;
  grid-column-gap: .5rem;
  align-items: center;
  padding: .5rem 0;
  width: 100%;
  border-bottom: 2px #757575 solid;
}

.play_list_panel .track_img {
  grid-area: img;
}

.play_list_panel .track_name {
  grid-area: title;
}

.play_list_panel .album_name {
  grid-area: album_name;
  color: #757575;
  font-size: .8rem;
}

.pop_up_panel {
  position: fixed;
  display: grid;
  grid-template-areas:
    'img title btn_pause'
    'img album_name btn_pause';
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 25px 25px;
  grid-column-gap: .5rem;
  align-items: center;
  bottom: 0;
  width: 100vw;
  max-width: 768px;
  padding: .5rem 1.5rem .5rem 3.5rem;
  background-color: rgba(103, 103, 103, 0.95);
}

.pop_up_panel .track_img {
  grid-area: img;
}

.pop_up_panel .track_name {
  grid-area: title;
  font-size: .8rem;
}

.pop_up_panel .album_name {
  grid-area: album_name;
  color: #949494;
  font-size: .8rem;
}

.pop_up_panel .btn_pause {
  grid-area: btn_pause;
}


/* PlayBackPage */
.main_container > .play_back {
  display: block;
  width: 100vw;
  max-width: 768px;
  height: 54vh;
  padding: 0;
  overflow: hidden;
}

.control_panel {
  position: relative;
  display: grid;
  grid-template-rows: 15% 25% 20% 40%;
  height: 34vh;
}


.range_bar_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range_bar_wrapper span {
  padding: 3px 1rem;
}

.range_bar_wrapper input:before {
  content: "";
  position: absolute;
  width: var(--bar-width);
  top: 8px;
  height: 4px;
  background: white;
}

input[type="range"]{
  content: '';
  position: absolute;
  top: -10px;
  width: 100vw;
  max-width: 768px;
  height:20px;
  outline : none;
  overflow:hidden;
  background:none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background: #a9a9a9;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: -.4rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
}

.info_wrapper,
.activity_of_track_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.track_wrapper > p {
  text-align: center;
}

.track_wrapper .track_name {
  font-size: 1.3rem;
}
.track_wrapper .album_name {
  font-size: .8rem
}

.info_wrapper button {
  font-size: 1.5rem;
}

.info_wrapper > * {
  width: 33.333%;
}

.activity_of_track_wrapper button:nth-child(3) {
  font-size: 4rem;
}

/* AD */
.promote_bg {
  position: fixed;
  width: 100vw;
  max-width: 768px;
  height: 100vh;
  background: black;
  opacity: 0.5;
  z-index: 900;
}

.promote_main {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  top: 20vh;
  left: calc(50% - 35vw);
  width: 70vw;
  max-width: 568px;
  height: 60vh;
  padding: .5rem 1rem 2rem 1rem;
  background: black;
  z-index: 999;
  overflow: hidden;
  animation: moveDown .1s ease-out;
}

.promote_main .bg {
  position: absolute;
  top: 0;
  left: -60%;
  width: auto;
  height: 100%;
  z-index: -1;
}

.btn_cancel {
  text-align: right;
}

.promote_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.btn_subscription {
  background: #333333;
  padding: .5rem 2rem;
  margin: 2rem;
}

.promote_content span {
  font-size: 1.5rem;
  color: #cf7e42;
}

/* others */
.fav {
  color: red;
}

.no_random, .no_looping {
  opacity: .3;
}

@media screen and (min-width: 768px) {
  .app {
    width: 768px;
    max-width: 768px;
    margin: 0 auto;
  }

    .promote_main {
    left: calc(50% - 284px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
